.header{
  background: #FEFEFE;
  padding: 10px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title{
  display: block;
}

.title h1{
  font-size: 24px;
}

.title h2{
  font-size: 18px;
  font-weight: 400;
}

.sandwich {
  width: 35px;
  height: 25px;
  border-bottom: 4px solid #333;
  position: relative;
  cursor: pointer;
}

.sandwich:before{
  content: '';
  display: block;
  position: relative;
  background: #333;
  width: 35px;
  height: 4px;
}

.sandwich:after{
  content: '';
  display: block;
  position: relative;
  background: #333;
  width: 35px;
  height: 4px;
  margin-top: 9px;
}

@media screen and (min-width: 800px){
  .header{
    padding: 10px 80px;
  }
}
