.container{
  background: url('/mobile-bg.png');
}

.container img{
  max-width: 100%;
  position: relative;
  margin-top: -45px;
  z-index: 0;
}

.container h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  color: #333;
  padding: 20px;
  margin-top: -40px;
}

.container h2:before{
  content: '';
  display: block;
  position: relative;
  background: var(--primary-color);
  width: 30%;
  height: 2px;
}

.attributes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.attribute{
  background: var(--primary-color);
  color: #f1f1f1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px;
}

.attribute p{
  margin: 5px auto;
  font-size: 24px;
  font-family: 'Barlow Condensed', sans-serif;
}
