.background{
  background: #CDDDDD;
}

.articles{
  padding: 10px;
}

.article {
  margin: 40px auto;
  background: #F1F1F1;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: default;
}

.article:hover{
  box-shadow: 0 0px 20px rgba(0,0,0,.3);
}

.article img{
  position: relative;
  max-width: 100%;
}

.article .textPreview{
  padding: 10px;
}

.article .action a{
  color: #f1f1f1;
  display: inline;
  background-color: var(--primary-color);
  float: right;
  margin: 10px;
  padding: 4px 40px;
  border-radius: 4px;
}

@media screen and (min-width: 800px){
  .articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .article {
    max-width: 370px;
  }

  .article .action a:hover{
    filter: brightness(130%);
  }

  .article .textPreview{
    position: relative;
    max-width: 100%;
  }
}
